{% extends "base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}
    <h1>Log-in</h1>
    <div>
      <li class="">
        <a href="{% url 'google_login' %}">Login with Google</a>
      </li>
    </div>
    <div class="text-center">
      <p>Please, use the following form to log-in. If you don't have an account <a href="{% url 'register' %}">register here</a></p>
      <form action="." method="post">
        <p><a href="{% url 'password_reset' %}">Forgotten your password?</a></p>

          {{ form.as_p }}
          {% csrf_token %}
          <div class="checkbox mb-3">
              <label>
                <input type="checkbox" value="remember-me"> Remember me
              </label>
            </div>
          <p><input type="submit" value="Log-in"></p>
      </form>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner"style="height: 600px; width: 600px; border-radius: 10px;">
        <div class="carousel-item active">
          <img src="https://www.cdn.memify.ru/media/kvbjghOhBSLp_CAZmj_VdA/20210221/xEjGCDlCcqs.jpg" class="d-block w-100" alt="mem1">
        </div>
        <div class="carousel-item">
          <img src="https://www.cdn.memify.ru/media/kvbjghOhBSLp_CAZmj_VdA/20210415/L_y2ZpLAl2I.jpg" class="d-block w-100" alt="mem2">
        </div>
        <div class="carousel-item">
          <img src="https://www.cdn.memify.ru/media/TSfFpxsBvZpbote4iaC7zA/20200921/5415615244274872012.jpg" class="d-block w-100" alt="mem3">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
{% endblock %}