{% extends "base.html" %}

{% block title %}Bookmark a mem{% endblock %}

{% block content %}
    <h1>Bookmark a mem</h1>
    <img src="{{ request.GET.url }}" class="image-preview">
    <form action="." method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="Bookmark it!">
    </form>
    {% comment %} {% if img_obj %}
        <h3>Succesfully uploaded : {{img_obj.title}}</h3>
        <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:300px">
    {% endif %} {% endcomment %}
{% endblock %}