{% extends "base.html" %}
{% block title %}Memes{% endblock %}
{% block content %}
    <h1> MeMes</h1>
    {% for mem in mems %}
            <h2 style="color:rgb(1, 43, 43);
                        font-style: initial;"> 
                {{ mem.title }}
            </h2>
            <a href="{{mem.url}}" class="ulightbox" target="_blank">
            <img src="{{mem.url}}" width="400" height="400" style="border-style: dotted;border-width: inherit;">
            </a>
            <p class="date">
                {% if user.is_authenticated%}
                Published {{ mem.publish }} by {{ mem.user }}
                {% endif %}
            </p>
    {% endfor %}
{% endblock %}